<!DOCTYPE CSS>
ul li.twitter {
  list-style-type: none;
}
li.twitter {
  background-image: url(shugarshock/shugarshock.github.io/images/twitter.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
  
