html
.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li .twitter {
        padding-left: 2rem;
        background-image: url(twitter-icon.png);
        background-position: 0 0;
        background-size: 1.6rem 1.6rem;
        background-repeat: no-repeat;
}
