<!DOCTYPE CSS>
@counter-style symbols-example {
  system: fixed;
  symbols: url(images/twitter-icon.png) none;
}
li.twitter {
  background-image: url(shugarshock/shugarshock.github.io/images/twitter-icon.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
  
